<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <ul class="sidebar-nav">
        <li>
          <a href="/catalog">Home</a>
        </li>
        <li>
          <a href="/catalog/books">All books</a>
        </li>
        <li>
          <a href="/catalog/authors">All authors</a>
        </li>
        <li>
          <a href="/catalog/genres">All genres</a>
        </li>
        <li>
          <a href="/catalog/bookinstances">All book-instances</a>
        </li>
        <hr />
        <li><a href="/catalog/author/create">Create new author</a></li>
        <li><a href="/catalog/genre/create">Create new genre</a></li>
        <li><a href="/catalog/book/create">Create new book</a></li>
        <li>
          <a href="/catalog/bookinstance/create">Create new book instance (copy)</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-10 sidebar-nav">